.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer h2{
    color: gray;
    font-size: 1rem;
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
}

